@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;500&family=Nanum+Gothic:wght@400;800&family=Poppins:wght@200;400;600&family=Public+Sans:wght@100;300;600&family=Tajawal:wght@200;500;800&family=Urbanist:ital,wght@0,100;0,300;0,600;1,200&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  padding: 15px 15px 0 15px;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* general spacing css */
.spacing {
  padding: 15px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* min-height: 75vh; */
}

.card {
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 5px;
  box-shadow: 0 14px 26px #e5317058;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  width: fit-content;

  .row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }

  .row-2 {
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
  }
}

/* flags images */
.flag {
  /* color: white;
  background-color: #e53170;
  padding: 50px 15px;
  border-radius: 5px; */
  padding: 15px 0;
}

.flag-container{
  max-width: 100%;
  margin: 0 auto;
}

.flag img {
  max-width: 100%;
  height: auto;
  display: block;
}

.flag-name {
  color: #e53170;
  text-decoration: none;
  padding: 10px 0 0 10px;
}

/* answer form css */
.answer-box {
  max-width: 800px;
  margin: 0 auto;
  padding: auto 20px;
  box-sizing: border-box;
}

.btn {
  margin: 0 0 10px 0;
  font-size: 12px;
  width: fit-content;
}

.label-answer {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

/* header css */
.header {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.header a {
  font-size: 0.8rem;
  color: #e53170;
  text-decoration: none;
  line-height: 0.5;
  padding: 2px;
  margin: 0;
}

.header a:hover {
  /* color: #f25f4c;
  background-color: rgb(240, 244, 255); */
  text-decoration: underline;
}

.skip-text {
  font-size: 0.8rem;
  margin: 5px;
}

@media (max-width: 600px) {
  .skip-text {
    display: none;
  }

  .label-answer {
    padding: 15px;
  }
  
}

.notice {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  /* background-color: #f0f5fa; */
  z-index: 1;
}